body {
  background-color: aquamarine;
  color: firebrick;
  text-align: center;
}

p {
  border: 3px solid firebrick;
  display: inline-block;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

span {
  padding: 5px;
  display: block;
}

#Team {
  background-color: firebrick;
  color: aquamarine;
}

a {
  display: block;
}
