body {
  background-color: aquamarine;
  color: firebrick;
  text-align: center;
}

.container {
  border: 3px solid firebrick;
  width: 200px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 0px;
}

div {
  padding: 5px;
}

#team {
  background-color: firebrick;
  color: aquamarine;
}

a {
  display: block;
}
